h1{
    font-size: 60px;
    margin: 0;
    color: black;
    text-transform: lowercase;
}

span{
	color : orange;
}

body{background:#1515171c;margin:0;
}
.box {
background: white;
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    padding: 50px;
    box-shadow: 0 0 18px #ff92009c;
}
p{
	font-size: 30px;color: black;
}